@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.logo {
    height: 60px;
    width: 100px;
}

.services-heading {
    color: #616c7c;
    font-size: 35px;
    font-weight: bold;
}

.description {
    font-size: 24px;
    color: #616c7c;
    font-weight: 600;
}

.img1 {
    height: 100px;
    width: 80px;
}

.heading {
    font-size: 28px;
    font-weight: 400;
    color: #1f2933;
}

.about {
    font-size: 24px;
    color: #7b8794;

}

.our-product-heading {
    font-weight: 700;
    color: #323f4b;
}

.smart-headphones-img {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/ecommerce-products-headphones-bg.png');
    background-size: cover;


}

.smart-headphones-head {
    color: white;
    font-weight: bold;
}

.about {
    color: #ffffff;
    font-size: 15px;
}

.button {
    height: 40px;
    width: 120px;
    border-radius: 50px;
    border-width: 0px;
    color: #ff9f00;
    font-weight: 400;
}

.smart-headphones-img1 {
    background-image: url('https://d2clawv67efefq.cloudfront.net/ccbp-responsive-website/ecommerce-products-laptops-bg.png');
    background-size: cover;
}

.product-link {
    color: #ff9f00;
    font-weight: bold;
}

.description {
    color: #323f4b;
    font-size: 17px;
    font-weight: 500;
}

.product-card-model-list {
    list-style-type: none;
    padding-left: 0;
}

.list-head {
    color: #323f4b;
    font-weight: bold;
}

.offer-background-container {
    background-image: linear-gradient(to right, #f49541, #dd5d97);


}

.offer-img {
    height: 200px;
    width: 200px;
}

.offer-heading {
    color: #ad2167;
    font-family: Times New Roman;
    font-weight: bold;
}

.offer-about {
    color: white;
    font-size: 24px;

}

.discount {
    font-weight: 600;
    font-style: italic;
}

.img2 {
    height: 170px;
    width: 280px;
}

.blogs-main-heading {
    color: #183b56;
    font-weight: bold;
}

.pen-heading {
    color: #959ead;
    font-size: 20px;
}

.sub-heading {
    color: #183b56;
    font-size: 24px;
    font-weight: bold;
}

.blogs-description {
    color: #959ead;
    font-size: 24px;
}

.link {
    color: #ff9f00;
    font-weight: 700;
}

.explore-background-container {
    background-color: #f5f7fa;
    background-size: cover;

}

.heading {
    color: #183b56;
    font-weight: bold;
    font-size: 46px;
}

.heading {
    color: #183b56;
    font-weight: 600;
    font-size: 46px;
}

.card-head {
    color: #183b56;
    font-weight: 500;
    font-size: 24px;
}

.img1 {
    height: 120px;
    width: 120px;
    border-radius: 10px;
    margin-right: 20px;
}

.link {
    color: #ff9f00;
    font-weight: bold;
    font-size: 18px;
}

.img2 {
    border-radius: 19px;
    padding-left: 5px;
    padding-right: 5px;
}

.card {
    border-radius: 5px;

}

.background-color {
    background-color: #f5f7fa;
    background-size: cover;

}

.heading {
    color: #183b56;
    font-weight: bold;
}

.contact-button {
    height: 40px;
    width: 130px;
    border-style: solid;
    border-width: 3px;
    border-color: #ff9f00;
    color: #ff9f00;
    font-weight: 600;
}

.footer-section {
    background-color: #0d2436;

    background-size: cover;
}

.bird-logo {
    height: 90px;
    width: 160px;
}

.social-icon {
    color: #5a7184;
    font-weight: bold;
    background-color: #152c3e;
    height: 50px;
    width: 50px;
    font-size: 25px;
    border-radius: 60px;
    padding-top: 5px;
    margin: 10px;


}

.footer-section-heading {
    color: #5a7184;
    font-size: 15px;
    font-weight: 500;
}

.e-commerce-footer-section-heading {
    color: #5a7184;
    font-weight: bold;
    font-size: 18px;
}

.list-items {
    color: #5a7184;
    font-weight: 400;
    font-size: 18px;
    list-style-type: none;

}

.line {
    background-color: #5a7184;

}

.footer-last-heading {
    color: #5a7184;
    font-size: 18px;
    font-weight: 400;

}